.logo-container {
  z-index: -1;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 20%;
  margin: auto;

  svg {
    width: 90vw;
    height: 90vh;
    bottom: 0;
    transform: rotateZ(180deg) !important;
    overflow: visible;
  }
}
