.logo-container {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;

    svg{
        width: 80vw;
        height: 80vh;
        bottom: 0;
        transform: rotateZ(180deg) !important;
        overflow: visible
    }
}